In [7]:
import pandas as pd

In [10]:
data = {
    'Name':['Pawan','Ragiv','Lalit','Ishan','Rohit'],
    'Age':[25,None,44,23,None],
    'Salary':[50000,60000,70000,None,None]
}

In [11]:
df = pd.DataFrame(data)

In [13]:
df

    Name   Age   Salary
0  Pawan  25.0  50000.0
1  Ragiv   NaN  60000.0
2  Lalit  44.0  70000.0
3  Ishan  23.0      NaN
4  Rohit   NaN      NaN

In [16]:
null_data = df.isnull().sum()
null_data

Name      0
Age       2
Salary    2
dtype: int64

In [17]:
drop_df = df.dropna()
drop_df

    Name   Age   Salary
0  Pawan  25.0  50000.0
2  Lalit  44.0  70000.0

In [22]:
avg = drop_df['Salary'].mean()
df['salary'].fillna(avg,inplace=True)
df

KeyError: 'salary'