In [9]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [10]:
df = pd.read_csv("sample_data.csv")
df_label = df.copy()
le = LabelEncoder()

In [11]:
df_label['Gender_Encoded'] = le.fit_transform(df_label['Gender'])
df_label['Passed_Encoded'] = le.fit_transform(df_label['Passed'])

In [12]:
print('\nLabel Encoded Data')
print(df_label[['Name','Gender','Gender_Encoded','Passed','Passed_Encoded']])

Label Encoded Data
      Name  Gender  Gender_Encoded Passed  Passed_Encoded
0     Aman    Male               1    Yes               1
1    Priya  Female               0    Yes               1
2    Rahul    Male               1     No               0
3   Anjali  Female               0    Yes               1
4     Ravi    Male               1    Yes               1
5    Meera  Female               0     No               0
6    Arjun    Male               1    Yes               1
7     Neha  Female               0    Yes               1
8    Imran    Male               1     No               0
9    Sneha  Female               0    Yes               1
10     Raj    Male               1    Yes               1
11   Divya  Female               0     No               0
12   Kabir    Male               1    Yes               1
13  Simran  Female               0    Yes               1
14   Karan    Male               1     No               0
15   Pooja  Female               0    Yes               1
16  Rakesh    Male               1    Yes               1
17    Isha  Female               0     No               0
18   Rohit    Male               1    Yes               1
19   Deepa  Female               0    Yes               1

In [13]:
df_encoded = pd.get_dummies(df_label,columns=['City'],drop_first=True,dtype=int)
# df_encoded = pd.get_dummies(df_label, columns=['City'], drop_first=True, dtype=int)
print('\nOne-Hot Encoded Data (city)')
# print(df_encoded.hea)
df_encoded

One-Hot Encoded Data (city)

,Name,Gender,Passed,Gender_Encoded,Passed_Encoded,City_Chennai,City_Delhi,City_Mumbai
0,Aman,Male,Yes,1,1,0,1,0
1,Priya,Female,Yes,0,1,0,0,1
2,Rahul,Male,No,1,0,0,0,0
3,Anjali,Female,Yes,0,1,0,0,1
4,Ravi,Male,Yes,1,1,0,1,0
5,Meera,Female,No,0,0,1,0,0
6,Arjun,Male,Yes,1,1,0,0,0
7,Neha,Female,Yes,0,1,0,1,0
8,Imran,Male,No,1,0,1,0,0
9,Sneha,Female,Yes,0,1,0,0,1
10,Raj,Male,Yes,1,1,1,0,0
11,Divya,Female,No,0,0,0,1,0
12,Kabir,Male,Yes,1,1,0,0,1
13,Simran,Female,Yes,0,1,0,0,0
14,Karan,Male,No,1,0,0,1,0
15,Pooja,Female,Yes,0,1,0,0,1
16,Rakesh,Male,Yes,1,1,1,0,0
17,Isha,Female,No,0,0,0,1,0
18,Rohit,Male,Yes,1,1,0,1,0
19,Deepa,Female,Yes,0,1,0,0,0

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform()

scaler = MinMaxScaler()
X_scaled = scaler.fit_transform()

In [26]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.model_selection import train_test_split

data = {
    'StudyHours':[1,2,3,4,5],
    'TestScore':[40,50,60,70,80],
}

df = pd.DataFrame(data)

# standardscaler
standard_scaler = StandardScaler()
standard_scaled = standard_scaler.fit_transform(df)

print("Standard Scaler Output :")
print(pd.DataFrame(standard_scaled, columns=['StudyHours','TestScore']))


# min_max_scaller
minmax_scaller = MinMaxScaler()
minmax_scalled = minmax_scaller.fit_transform(df)

print("\nMinmax Scalled Output : ")
print(pd.DataFrame(minmax_scalled , columns=['StudyHours','TestScore']))

X = df[['StudyHours']]
y = df[['TestScore']]

# train_test_split_ 
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

print("\n")
print("Training Data")
print(x_train)

print("Test Data")
print(x_test)

Standard Scaler Output :
   StudyHours  TestScore
0   -1.414214  -1.414214
1   -0.707107  -0.707107
2    0.000000   0.000000
3    0.707107   0.707107
4    1.414214   1.414214

Minmax Scalled Output :
   StudyHours  TestScore
0        0.00       0.00
1        0.25       0.25
2        0.50       0.50
3        0.75       0.75
4        1.00       1.00


Training Data
   StudyHours
4           5
2           3
0           1
3           4
Test Data
   StudyHours
1           2

In [31]:
from sklearn.linear_model import LinearRegression

X = [[1], [2], [3], [4], [5]]
y = [10,20,30,40,50] 

model = LinearRegression() 
model.fit(X,y)

hours = float(input("Enter how many hours you studies = "))

predicted_marks = model.predict([[hours]]) 

print(f"Based on your hours {hours} you may scored around {predicted_marks}")

Enter how many hours you studies =  6.5

Based on your hours 6.5 you may scored around [65.]