In [2]:
# Method on air_quality
import pandas as pd

In [3]:
df = pd.read_csv("globalAirQuality.csv")

In [4]:
df

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
4,2025-11-04 22:25:17.554219,US,New York,40.713,-74.006,21.083,66.423,38.997,6.919,45.615,1.085,97,13.632,76.499,4.017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,2025-11-19 13:25:17.554219,CH,Zurich,47.377,8.542,27.899,74.179,41.474,6.677,50.869,1.028,103,7.079,52.443,7.452
17996,2025-11-19 14:25:17.554219,CH,Zurich,47.377,8.542,2.950,47.988,42.235,2.821,35.551,0.644,105,28.734,85.678,4.496
17997,2025-11-19 15:25:17.554219,CH,Zurich,47.377,8.542,61.347,72.908,46.976,5.763,66.492,0.947,122,21.951,72.311,9.660
17998,2025-11-19 16:25:17.554219,CH,Zurich,47.377,8.542,40.722,95.152,32.957,5.524,53.193,0.868,95,24.042,31.880,2.642
17999,2025-11-19 17:25:17.554219,CH,Zurich,47.377,8.542,25.830,30.411,35.317,4.336,66.246,0.848,88,8.529,59.104,4.403

In [5]:
# Methods of pandas
# df.head()
# df.tail()
# df.sample(2)
# df.describe()
df.nunique()

timestamp        360
country           38
city              50
latitude          50
longitude         50
pm25           15839
pm10           16332
no2            15139
so2             8158
o3             15275
co              1376
aqi              178
temperature    13930
humidity       15725
wind_speed      8058
dtype: int64

In [46]:
# df["country"]
# df["city"]
# df[["city","aqi"]]
# df.loc[0]
# df.loc[0:3]

# cels-> rows & cols
# df.loc[0:2,['timestamp', 'country', 'city', 'latitude']]
# df.iloc[0:2,["city","aqi"]]
# df.columns
# df.iloc[0:3,1:5]

# cells
# df.at[0,"city"]
# df.iat[0,2]
cities = df["city"].copy()
# print(cities[888])
cities[0] = "Mumbatian"
# cities[0] = "New York"

df

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,2025-11-04 18:25:17.554219,US,New York,40.713,-74.006,50.295,108.938,27.998,6.539,52.568,1.096,108,18.504,70.168,3.725
1,2025-11-04 19:25:17.554219,US,New York,40.713,-74.006,32.083,63.043,36.120,4.021,43.536,1.075,90,5.838,80.088,8.969
2,2025-11-04 20:25:17.554219,US,New York,40.713,-74.006,42.250,82.553,26.935,9.538,23.320,0.977,84,31.833,62.783,9.650
3,2025-11-04 21:25:17.554219,US,New York,40.713,-74.006,30.403,79.951,63.536,7.609,31.369,0.230,158,23.140,89.153,8.956
4,2025-11-04 22:25:17.554219,US,New York,40.713,-74.006,21.083,66.423,38.997,6.919,45.615,1.085,97,13.632,76.499,4.017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,2025-11-19 13:25:17.554219,CH,Zurich,47.377,8.542,27.899,74.179,41.474,6.677,50.869,1.028,103,7.079,52.443,7.452
17996,2025-11-19 14:25:17.554219,CH,Zurich,47.377,8.542,2.950,47.988,42.235,2.821,35.551,0.644,105,28.734,85.678,4.496
17997,2025-11-19 15:25:17.554219,CH,Zurich,47.377,8.542,61.347,72.908,46.976,5.763,66.492,0.947,122,21.951,72.311,9.660
17998,2025-11-19 16:25:17.554219,CH,Zurich,47.377,8.542,40.722,95.152,32.957,5.524,53.193,0.868,95,24.042,31.880,2.642
17999,2025-11-19 17:25:17.554219,CH,Zurich,47.377,8.542,25.830,30.411,35.317,4.336,66.246,0.848,88,8.529,59.104,4.403

In [48]:
cities[0:3]

0    Mumbatian
1     New York
2     New York
Name: city, dtype: object

In [77]:
# FILTERING OF DATA
# df[(df["aqi"] > 100) & (df["temperature"] > 30)]
# df[(df["aqi"] > 100) & (df["temperature"] < 30)]
# df[df["aqi"] > 100, [["city","temperature"]]] -------------- this is wrong

aqi_data = df[(df["aqi"] > 100) & (df["temperature"] > 30)][["city","aqi"]]

# aqi_data.iloc[0]
aqi_data.loc[6]

city    New York
aqi          155
Name: 6, dtype: object

In [84]:
# Qurying
aqi_val = 100
df.query("aqi > @aqi_val & temperature > 30")[["city","temperature"]]

           city  temperature
6      New York       36.729
7      New York       37.891
14     New York       34.481
17     New York       36.193
25     New York       31.289
...         ...          ...
17947    Zurich       32.584
17950    Zurich       36.885
17975    Zurich       30.761
17976    Zurich       30.909
17991    Zurich       32.556

[2384 rows x 2 columns]

In [87]:
df.isna()

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False